Source: dafuq
Section: utils
Priority: optional
Maintainer: Azer Abdullaev <azer.abdullaev.berlin+git@gmail.com>
Build-Depends: dh-golang,
               golang-any,
               debhelper
Standards-Version: 4.6.0
Homepage: https://github.com/reactorcoremeltdown/dafuq
Rules-Requires-Root: no
X-Debrew-Production-Flavours: ["bookworm"]
X-Debrew-Production-Architectures: ["amd64","arm64","armhf"]


Package: dafuq
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Built-Using: ${misc:Built-Using}
Description: Drastically simple monitoring tool, a Nagios microkernel
    A blackbox monitoring tool built on top of Nagios idea. Batteries included.
